@using PagedList.Core.Mvc

@model PagedList.Core.IPagedList<Petland_Shop.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Customer"] = "Customer" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-body" style="margin-bottom: 25px;">
    <a style="margin-bottom: 25px;" class="btn btn-primary" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Create">Create</a>
@*    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">RoleName</label>
        <select class="form-select" id="idrole" name="idrole" asp-items="ViewBag.Role">

            <option value="" disabled selected>Choose Role</option>

        </select>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Status</label>
        <select class="form-select" id="inputGroupSelect01" asp-items="ViewBag.IsTrangThai">

            <option value="" disabled selected>Choose Status</option>

        </select>
    </div>*@
    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
        <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container">
            <table class="table table-striped dataTable-table" id="table1">
                <thead>

                    <tr>
                        <th>CustomerId</th>
                        <th>FullName</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerId</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                               

                                <td>
                                    <div class="btn-group mb-3" role="group" aria-label="Basic example">
                                        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                                        <a type="button" class="btn btn-warning" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                        <a type="button" class="btn btn-danger" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                        @*<button type="button" class="btn btn-success"></button>
                                <button type="button" class="btn btn-warning"></button>
                                <button type="button" class="btn btn-danger"></button>*@
                                    </div>
                                </td>
                                @*<td>Remote</td>
                        <td>Austin,Texas</td>
                        <td><a href="#"><i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="mail"></i></a></td>*@

                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-contaner" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"/>
                </ul>

            </div>
        </div>
    </div>
</div>


